<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web</title>
</head>
<body>
    <h3>Header</h3>
    <%- body %> 
    <h3>Footer</h3>
</body>
</html>